 <!--Popular-bundle-pack===================================-->
 <section id="popular-bundle-pack">
    <!--heading-------------->
    <div class="product-heading">
        <h3>Popular Bundle Pack</h3>
    </div>
    <!--box-container------>
    <div class="product-container">
        <!--box---------->
        <div class="product-box">
            <img src="./assets/images/pack1.png" alt="pack">
            <strong>Big Pack</strong>
            <span class="quantity">Lemone, Tamato, Patato,+4</span>
            <span class="price">₹400</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img src="./assets/images/pack2.jpg" alt="apple">
            <strong>Large Pack</strong>
            <span class="quantity">Lemone, Tamato, Patato,+2</span>
            <span class="price">₹300</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img src="./assets/images/pack3.png" alt="apple">
            <strong>Small Pack</strong>
            <span class="quantity">Lemone, Tamato, Patato</span>
            <span class="price">₹120</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img src="./assets/images/pack1.png" alt="pack">
            <strong>Big Pack</strong>
            <span class="quantity">Lemone, Tamato, Patato,+4</span>
            <span class="price">₹400</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img src="./assets/images/pack2.jpg" alt="apple">
            <strong>Large Pack</strong>
            <span class="quantity">Lemone, Tamato, Patato,+2</span>
            <span class="price">₹240</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img src="./assets/images/pack3.png" alt="apple">
            <strong>Small Pack</strong>
            <span class="quantity">Lemone, Tamato, Patato</span>
            <span class="price">₹120</span>
            <!--cart-btn------->
            <a href="#" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
    </div>
</section>
<!--popular-bundle-pack-end-------------------------------->
<!--==Clients===============================================-->
<section id="clients">
    <!--heading---------------->
    <div class="client-heading">
        <h3>What Our Client's Say</h3>
    </div>
    <!--box-container---------->
    <div class="client-box-container">
        <!--box------------->
        <div class="client-box">
            <!--==profile===-->
            <div class="client-profile">
                <!--img--->
                <img src="./assets/images/client-1.jpg" alt="client">
                <!--text-->
                <div class="profile-text">
                    <strong>James Mcavoy</strong>
                    <span>CEO</span>
                </div>
            </div>
            <!--==Rating======-->
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <!--==comments===-->
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ea id, itaque architecto atque mollitia aperiam voluptatem consequatur incidunt sed placeat, harum recusandae quaerat at hic labore eius laborum quas!</p>
        </div>
        <!--box------------->
        <div class="client-box">
            <!--==profile===-->
            <div class="client-profile">
                <!--img--->
                <img src="./assets/images/client-2.jpg" alt="client">
                <!--text-->
                <div class="profile-text">
                    <strong>Adward Mcavoy</strong>
                    <span>Software Developer</span>
                </div>
            </div>
            <!--==Rating======-->
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <!--==comments===-->
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ea id, itaque architecto atque mollitia aperiam voluptatem consequatur incidunt sed placeat, harum recusandae quaerat at hic labore eius laborum quas!</p>
        </div>
        <!--box------------->
        <div class="client-box">
            <!--==profile===-->
            <div class="client-profile">
                <!--img--->
                <img src="./assets/images/client-3.jpg" alt="client">
                <!--text-->
                <div class="profile-text">
                    <strong>Ava Alex</strong>
                    <span>Marketer</span>
                </div>
            </div>
            <!--==Rating======-->
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <!--==comments===-->
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ea id, itaque architecto atque mollitia aperiam voluptatem consequatur incidunt sed placeat, harum recusandae quaerat at hic labore eius laborum quas!</p>
        </div>
    </div>
</section>
<!--client-section-end---------->

