        <!--==Products====================================-->
        <section id="popular-product">
            <!--heading----------->
            <div class="product-heading">
                <h3>Popular Product</h3>
                <span>All</span>
            </div>
            <!--box-container------>
            <div class="product-container">
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/tamato.png" alt="apple">
                    <strong>Tomato</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹35</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/chili.png" alt="apple">
                    <strong>Chili</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹25</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/onion.png" alt="apple">
                    <strong>Onion</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹60</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/patato.png" alt="apple">
                    <strong>Potato</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹40</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/garlic.png" alt="apple">
                    <strong>Garlic</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹80</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/broccoli.jpg" alt="apple">
                    <strong>Broccoli</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹40</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/cauliflower.jpg" alt="apple">
                    <strong>Cauliflower</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹50</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/ladies.jpg" alt="apple">
                    <strong>Ladies Finger</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹25</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/green.jpg" alt="apple">
                    <strong>Greens</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹30</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/apple.png" alt="apple">
                    <strong>Apple</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹120</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div><!--box---------->
                <div class="product-box">
                    <img src="./assets/images/Straw.jpg" alt="apple">
                    <strong>Strawberry</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹250</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/mango.jpg" alt="apple">
                    <strong>Mango</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹70</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/orange.jpg" alt="apple">
                    <strong>Orange</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹60</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/lemon.jpg" alt="apple">
                    <strong>Lemon</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹300</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
                <!--box---------->
                <div class="product-box">
                    <img src="./assets/images/banana.jpg" alt="apple">
                    <strong>Banana</strong>
                    <span class="quantity">1 KG</span>
                    <span class="price">₹30</span>
                    <!--cart-btn------->
                    <a href="#" class="cart-btn">
                        <i class="fas fa-shopping-bag"></i> Add Cart
                    </a>
                    <!--like-btn------->
                    <a href="#" class="like-btn">
                        <i class="far fa-heart"></i>
                    </a>
                </div>
            </div>
        </section>
        <!--popular-product-end--------------------->
