<!--==download-app====================================-->
<section id="download-app">
    <!--img----------------------->
    <div class="app-img">
        <img src="./assets/images/mobile-app.png" alt="app">
    </div>
    <!--text---------------------->
    <div class="download-app-text">
        <strong>Download App</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id officiis, ratione, non doloribus similique nam aliquam doloremque, ipsa neque voluptas at recusandae est cumque ipsum. Vel sint libero odit placeat?</p>
        <!--btns------->
        <div class="download-btns">
            <a href="#"><img src="./assets/images/appstore-btn.png" alt=""></a>
            <a href="#"><img src="./assets/images/googleplay-btn.png" alt=""></a>
        </div>
    </div>
</section>
<!--download-app-section-end------------------------->

<!--==Partnre-logo================================-->
<section id="partner">
    <!--heading------------>
    <div class="partner-heading">
        <h3>Our Trusted Partner</h3>
    </div>
    <!--logo-container----->
    <div class="logo-container">
        <img src="./assets/images/logo-1.png" alt="logo">
        <img src="./assets/images/logo-2.png" alt="logo">
        <img src="./assets/images/logo-3.png" alt="logo">
        <img src="./assets/images/logo-4.png" alt="logo">
    </div>
</section>
<!--logo-section-end--------------------->
<!--==Footer=============================================-->
